apiVersion: v1
kind: Secret
metadata:
  name: course-registration-secret
type: Opaque
stringData:
  DB_URL: "<JDBC_URL_INCLUDING_RDS_ENDPOINT>"
  DB_USERNAME: "<RDS_MASTER_USERNAME>"
  DB_PASSWORD: "<RDS_MASTER_PASSWORD>"
  JWT_SECRET: "<JWT_SIGNING_SECRET>"